In [1]:
import pandas as pd
import numpy as np

In [2]:
!curl -o data_safe_copy.csv https://raw.githubusercontent.com/Data-AI-IDDA/m1-06-lab-loading-cleaning/refs/heads/main/data_safe_copy.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 21457  100 21457    0     0  39621      0 --:--:-- --:--:-- --:--:-- 39808

In [3]:
df = pd.read_csv('data_safe_copy.csv')
df

    ticket_id         opened_at   category priority resolution_minutes
0     TK-0001  2024-03-01 09:00    billing      low                 45
1     TK-0002  2024-03-01 09:30    account   medium                 30
2     TK-0003  2024-03-01 10:00  technical     high                 75
3     TK-0004  2024-03-01 10:30    billing      low                NaN
4     TK-0005  2024-03-01 11:00    account   medium            unknown
..        ...               ...        ...      ...                ...
495   TK-0496  2024-03-01 11:30  TECHNICAL     high                 60
496   TK-0497  2024-03-01 12:00    billing    high                  15
497   TK-0498  2024-03-01 12:30    account      low                 90
498   TK-0499  2024-03-01 13:00  technical   medium                120
499   TK-0500  2024-03-01 13:30    billing   medium                 25

[500 rows x 5 columns]

In [4]:
# internal issues: 
# ---missing values
# ---inconsistent casing (irregular use of uppercase and lowercase letters within a specific context)
# ---invalid numeric entries

# **Task 1: Generate and load the raw dataset*
**Load the CSV file data_safe_copy.csv into a DataFrame named tickets. Confirm that it has at least 500 rows. Print the first five rows and run info() to confirm the initial structure.**

In [5]:
tickets = pd.read_csv('data_safe_copy.csv')
tickets

    ticket_id         opened_at   category priority resolution_minutes
0     TK-0001  2024-03-01 09:00    billing      low                 45
1     TK-0002  2024-03-01 09:30    account   medium                 30
2     TK-0003  2024-03-01 10:00  technical     high                 75
3     TK-0004  2024-03-01 10:30    billing      low                NaN
4     TK-0005  2024-03-01 11:00    account   medium            unknown
..        ...               ...        ...      ...                ...
495   TK-0496  2024-03-01 11:30  TECHNICAL     high                 60
496   TK-0497  2024-03-01 12:00    billing    high                  15
497   TK-0498  2024-03-01 12:30    account      low                 90
498   TK-0499  2024-03-01 13:00  technical   medium                120
499   TK-0500  2024-03-01 13:30    billing   medium                 25

[500 rows x 5 columns]

In [6]:
tickets['resolution_minutes'].unique()

array(['45', '30', '75', nan, 'unknown', '60', '15', '90', '120', '25'],
      dtype=object)

In [7]:
# we have nan and 'unknown' values which will not be converted to numbers.That is why we should find the sum of their count

In [8]:
missing_unk = (tickets['resolution_minutes'] == 'unknown').sum()
missing_unk

np.int64(50)

In [9]:
missing_nan = tickets['resolution_minutes'].isna().sum()
missing_nan

np.int64(50)

In [10]:
missing_count1 = missing_unk + missing_nan
missing_count1

np.int64(100)

**For row counts:**

In [11]:
tickets.shape

(500, 5)

In [12]:
len(tickets)

500

In [13]:
# first five rows
tickets.head()

  ticket_id         opened_at   category priority resolution_minutes
0   TK-0001  2024-03-01 09:00    billing      low                 45
1   TK-0002  2024-03-01 09:30    account   medium                 30
2   TK-0003  2024-03-01 10:00  technical     high                 75
3   TK-0004  2024-03-01 10:30    billing      low                NaN
4   TK-0005  2024-03-01 11:00    account   medium            unknown

In [14]:
# or:
tickets[:5]

  ticket_id         opened_at   category priority resolution_minutes
0   TK-0001  2024-03-01 09:00    billing      low                 45
1   TK-0002  2024-03-01 09:30    account   medium                 30
2   TK-0003  2024-03-01 10:00  technical     high                 75
3   TK-0004  2024-03-01 10:30    billing      low                NaN
4   TK-0005  2024-03-01 11:00    account   medium            unknown

In [15]:
# for detailed info
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ticket_id           500 non-null    object
 1   opened_at           500 non-null    object
 2   category            500 non-null    object
 3   priority            500 non-null    object
 4   resolution_minutes  450 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB

# **Task 2: Parse dates and clean categories**
**Convert opened_at to a datetime column. Then normalize category and priority by stripping whitespace and converting to lowercase. Show the unique values for both columns to confirm cleaning.**

In [16]:
tickets['opened_at'] = pd.to_datetime(tickets['opened_at'])
tickets['opened_at']

0     2024-03-01 09:00:00
1     2024-03-01 09:30:00
2     2024-03-01 10:00:00
3     2024-03-01 10:30:00
4     2024-03-01 11:00:00
              ...
495   2024-03-01 11:30:00
496   2024-03-01 12:00:00
497   2024-03-01 12:30:00
498   2024-03-01 13:00:00
499   2024-03-01 13:30:00
Name: opened_at, Length: 500, dtype: datetime64[ns]

In [17]:
# tickets['category'].str.strip().str.lower(),inplace=True
# tickets['priority'].str.strip().str.lower(),inplace=True
# Pandas-da .str metodları (məsələn, .strip() və ya .lower()) inplace=True parametrini dəstəkləmir.

In [18]:
tickets['category'] = tickets['category'].str.strip().str.lower()

tickets['priority'] = tickets['priority'].str.strip().str.lower()

In [19]:
tickets['category'].unique()

array(['billing', 'account', 'technical'], dtype=object)

In [20]:
tickets['priority'].unique()

array(['low', 'medium', 'high'], dtype=object)

Task 3: Convert resolution time safely
Convert resolution_minutes to numeric values. Invalid entries should become missing values. After conversion, compute the count of missing values and confirm it matches the number of intentionally introduced issues.

In [21]:
tickets['resolution_minutes'].dtype

dtype('O')

In [22]:
# Sütunu ədədi formata çeviririk
tickets['resolution_minutes'] = pd.to_numeric(tickets['resolution_minutes'], errors='coerce')

In [23]:
tickets['resolution_minutes']

0       45.0
1       30.0
2       75.0
3        NaN
4        NaN
       ...
495     60.0
496     15.0
497     90.0
498    120.0
499     25.0
Name: resolution_minutes, Length: 500, dtype: float64

In [24]:
missing_count2 = tickets['resolution_minutes'].isna().sum()
missing_count2

np.int64(100)

**Validation:**

In [25]:
missing_count1 == missing_count2

np.True_

# **Task 4: Filter and validate cleaned data*
**Create a cleaned DataFrame named tickets_clean by dropping rows with missing resolution_minutes. Then verify:**

**All remaining resolution_minutes are non-negative**
**All categories and priorities are normalized**
**Show the number of records before and after cleaning.**

In [26]:
tickets_copy = tickets.copy()

In [27]:
tickets_clean = tickets_copy.dropna()
tickets_clean

    ticket_id           opened_at   category priority  resolution_minutes
0     TK-0001 2024-03-01 09:00:00    billing      low                45.0
1     TK-0002 2024-03-01 09:30:00    account   medium                30.0
2     TK-0003 2024-03-01 10:00:00  technical     high                75.0
5     TK-0006 2024-03-01 11:30:00  technical     high                60.0
6     TK-0007 2024-03-01 12:00:00    billing     high                15.0
..        ...                 ...        ...      ...                 ...
495   TK-0496 2024-03-01 11:30:00  technical     high                60.0
496   TK-0497 2024-03-01 12:00:00    billing     high                15.0
497   TK-0498 2024-03-01 12:30:00    account      low                90.0
498   TK-0499 2024-03-01 13:00:00  technical   medium               120.0
499   TK-0500 2024-03-01 13:30:00    billing   medium                25.0

[400 rows x 5 columns]

In [28]:
tickets_clean['resolution_minutes'].describe()

count    400.000000
mean      57.500000
std       33.676182
min       15.000000
25%       28.750000
50%       52.500000
75%       78.750000
max      120.000000
Name: resolution_minutes, dtype: float64

In [30]:
# min = 15. So each value is bigger than 0

**Validation**

Kateqoriyaların və prioritetlərin tam təmizləndiyini (normallaşdırıldığını) yoxlamaq üçün ən yaxşı üsul hər sütundakı unikal (təkrar olunmayan) dəyərlərə baxmaqdır. Əgər təmizləmə düzgün aparılıbsa, siyahıda eyni sözün müfəttəlif versiyalarını (məsələn, " High" və "high") görməməlisiniz.

In [31]:
tickets_clean['category'].unique()

array(['billing', 'account', 'technical'], dtype=object)

In [32]:
tickets_clean['priority'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [36]:
print(tickets_clean['category'].str.islower().all())
print(tickets_clean['priority'].str.islower().all())

True
True

# **Task 5: Build a quality summary*
**Create a summary dictionary with keys total_records, clean_records, missing_resolution, avg_resolution, and max_resolution. Print the summary and verify that clean_records + missing_resolution equals total_records.**

In [38]:
# 1. Xülasə lüğətini yaradırıq
summary = {
    'total_records': len(tickets), # Orijinal datadakı bütün sətirlər
    'clean_records': len(tickets_clean), # Filtrlənmiş (müsbət dəqiqəli) sətirlər
    'missing_resolution': tickets['resolution_minutes'].isna().sum(), # Boş qalan (NaN) sətirlər
    'avg_resolution': tickets_clean['resolution_minutes'].mean(), # Orta müddət
    'max_resolution': tickets_clean['resolution_minutes'].max() # Maksimum müddət
}

# 2. Xülasəni çap edirik
import pprint
pprint.pprint(summary)

# 3. Hesabatın doğruluğunu yoxlayırıq (Verification)
verification = summary['clean_records'] + summary['missing_resolution']
print(f"\nClean + Missing = {verification}")
print(f"Total Records = {summary['total_records']}")

if verification == summary['total_records']:
    print("Validation✅")
else:
    # Əgər bərabər deyilsə, deməli 0-a bərabər və ya mənfi olan sətirlər var
    print("Validation❌")
    diff = summary['total_records'] - verification
    print(f"Fərq: {diff} sətir (Ehtimal ki, 0 və ya mənfi olan sətirlərdir).")

{'avg_resolution': np.float64(57.5),
 'clean_records': 400,
 'max_resolution': 120.0,
 'missing_resolution': np.int64(100),
 'total_records': 500}

Clean + Missing = 500
Total Records = 500
Validation✅